<p>
  <strong>Title:</strong>
  <label id="show_article_title"></label>
</p>
 
<p>
  <strong>Text:</strong>
  <label id="show_article_text"></label>
  
</p>
<h2>Comments</h2>

<h2>Add a comment:</h2>
